In [124]:
import pandas as pd 
import numpy as np
from math import sqrt
import statistics

In [90]:
#--------------------------------------------------Exercicio 1
#Construindo o Df
data = np.array([[2,3],
                 [4,5],
                 [5,8],
                 [7,6],
                 [10,2]])
df = pd.DataFrame(data,columns=["Notas(xi)","fi"])

df['xi.fi'] = df['Notas(xi)']*df['fi']

In [91]:
#Somando o total
## Lista e variavel auxiliar
soma1 = 0
soma2 = 0
for i in df['fi']:
    soma1 += i 
for i in df['xi.fi']:
    soma2 += i
df.loc[5] = ["Total",soma1,soma2]
df

  Notas(xi)  fi  xi.fi
0         2   3      6
1         4   5     20
2         5   8     40
3         7   6     42
4        10   2     20
5     Total  24    128

In [48]:
media = df.iloc[5,2]/df.iloc[5,1] #
desvioPadrao = sqrt(((3*((2-media)**2))+(5*((4-media)**2))+(8*((5-media)**2))+(6*((7-media)**2))+(2*((10-media)**2)))/ df.iloc[5,1])
desvioPadrao

2.0749832663314556

In [49]:
df

  Notas(xi)  fi  xi.fi
0         2   3      6
1         4   5     20
2         5   8     40
3         7   6     42
4        10   2     20
5   Total:   24    128

In [58]:
#-------------------------------------------------------Exercicio2--------------------------------------------------------
## Lista e variavel auxiliar
soma1 = 0
soma2 = 0
data = np.array([['0|---2',12],
                 ['2|---4',15],
                 ['4|---6',21]])
df = pd.DataFrame(data,columns=["ConsumoKg","fi"])
df["xi"] = [1,3,5]
df['fi'] = df['fi'].astype('int64')
df['xi.fi'] = df['xi']*df['fi']

for i in df['fi']:
    soma1 += i 
for i in df['xi.fi']:
    soma2 += i
df.loc[3] = ["Total: ", soma1,"", soma2]

In [67]:
media = df.iloc[3,3]/df.iloc[3,1] #
desvioPadrao = sqrt(((12*((1-media)**2))+(15*((3-media)**2))+(21*((5-media)**2)))/df.iloc[3,1])
desvioPadrao

1.6153559979150107

In [63]:
df

  ConsumoKg  fi xi  xi.fi
0    0|---2  12  1     12
1    2|---4  15  3     45
2    4|---6  21  5    105
3   Total:   48       162

In [71]:
#---------------------------------------------Exercicio3
## Lista e variavel auxiliar
soma1 = 0
soma2 = 0
data = np.array([['0|---2',5],
                 ['2|---4',22],
                 ['4|---6',10],
                 ['6|---8',3],
                 ['8|---10',10]])
df = pd.DataFrame(data,columns=["Notas","fi"])
df["xi"] = [1,3,5,7,9]
df['fi'] = df['fi'].astype('int64')
df['xi.fi'] = df['xi']*df['fi']

for i in df['fi']:
    soma1 += i 
for i in df['xi.fi']:
    soma2 += i
df.loc[5] = ["Total: ", soma1,"", soma2]

In [74]:
media = df.iloc[5,3]/df.iloc[5,1] #
desvioPadrao = sqrt(((5*((1-media)**2))+(22*((3-media)**2))+(10*((5-media)**2))+(3*((7-media)**2))+(10*((9-media)**2)))/df.iloc[5,1])
desvioPadrao

2.5827117531772683

In [75]:
df

     Notas  fi xi  xi.fi
0   0|---2   5  1      5
1   2|---4  22  3     66
2   4|---6  10  5     50
3   6|---8   3  7     21
4  8|---10  10  9     90
5  Total:   50       232

In [77]:
#--------------------------------------------------Exercicio4
soma1 = 0
soma2 = 0
data = np.array([['0|---50',10],
                 ['50|---100',28],
                 ['100|---150',12],
                 ['150|---200',2],
                 ['200|---250',1],
                 ['250|---300',1]])
df = pd.DataFrame(data,columns=["Consumo por nota","fi"])
df["xi"] = [25,75,125,175,225,275]
df['fi'] = df['fi'].astype('int64')
df['xi.fi'] = df['xi']*df['fi']

for i in df['fi']:
    soma1 += i 
for i in df['xi.fi']:
    soma2 += i
df.loc[6] = ["Total: ", soma1,"", soma2]

In [79]:
media = df.iloc[6,3]/df.iloc[6,1] #
desvioPadrao = sqrt(((10*((25-media)**2))+(28*((75-media)**2))+(12*((125-media)**2))+(2*((175-media)**2))+(1*((225-media)**2))+(1*((275-media)**2)))/df.iloc[6,1])
desvioPadrao

49.004143045923115

In [80]:
df

  Consumo por nota  fi   xi  xi.fi
0          0|---50  10   25    250
1        50|---100  28   75   2100
2       100|---150  12  125   1500
3       150|---200   2  175    350
4       200|---250   1  225    225
5       250|---300   1  275    275
6          Total:   54        4700

In [86]:
#---------------------------------------------------Exercicio5
soma1 = 0
soma2 = 0
data = np.array([['0|---20',5],
                 ['20|---40',25],
                 ['40|---60',40],
                 ['60|---80',15],
                 ['80|---100',10],
                 ['100|---120',5]])
df = pd.DataFrame(data,columns=["Nª de televisores/dia","fi"])
df["xi"] = [10,30,50,70,90,110]
df['fi'] = df['fi'].astype('int64')
df['xi.fi'] = df['xi']*df['fi']

for i in df['fi']:
    soma1 += i 
for i in df['xi.fi']:
    soma2 += i
df.loc[6] = ["Total: ", soma1,"", soma2]

In [88]:
media = df.iloc[6,3]/df.iloc[6,1] #
desvioPadrao = sqrt(((5*((10-media)**2))+(25*((30-media)**2))+(40*((50-media)**2))+(15*((70-media)**2))+(10*((90-media)**2))+(5*((110-media)**2)))/df.iloc[6,1])
desvioPadrao

23.895606290697042

In [87]:
df

  Nª de televisores/dia   fi   xi  xi.fi
0               0|---20    5   10     50
1              20|---40   25   30    750
2              40|---60   40   50   2000
3              60|---80   15   70   1050
4             80|---100   10   90    900
5            100|---120    5  110    550
6               Total:   100        5300

In [95]:
#--------------------------------------------------Exercicio 6
x = [12,11,10,9,8.5,11.5]
x = sorted(x)
desvioPadrao = statistics.pstdev(x) 
desvioPadrao

1.2801909579781015

In [126]:
#-----------------------------------------------Exercicio 7 -------------------
df = pd.DataFrame([2.61, 2.64, 2.56, 2.61, 2.60, 2.58])
df[1] = [1.9, 1.79, 1.88, 1.81, 1.88, 1.84]
df = df.rename(columns={0: 'Gasolina', 1: "Alcóol"})
df

   Gasolina  Alcóol
0      2.61    1.90
1      2.64    1.79
2      2.56    1.88
3      2.61    1.81
4      2.60    1.88
5      2.58    1.84